.admin-table{
  padding: 20px;

  &--filters{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
  }


  &--actions{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    &--left-button,&--right-button{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  &--table-block{
    display: flex;
  }

}