@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.table {
  &--header-cl {
    &--sort-block {
      @include flex-center;
      button {
        all: unset;
        height: 20px;
        cursor: pointer;
      }
    }
    &--asc {
      transform: rotate(0);
    }
    &--desc {
      transform: rotate(180deg);
    }
  }
  &--actions-tc {
    gap: 10px;
  }
  &--cell {
    @include reduce-text(200px);
  }
}
