@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins';

.sidebar {
  position: relative;
  min-width: 60px;
  max-width: 60px;
  transition: 0.3s ease;

  &--open-close-button {
    @include flex-center-center;
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50px;
    top: 45px;
    right: -13px;
    cursor: pointer;
  }

  &--list {
    margin: 8px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  &--user-list {
    width: calc(100% - 14px);
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $BASE_GRAY_COLOR;
  }

  &--user-avatar-block {
    @include flex-center-center;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    border: 1px solid;
    border-radius: 50px;
    overflow: hidden;

    &--user-avatar {
      width: 40px;
      height: 40px;
    }

    &--user-avatar-info {
      display: flex;
      gap: 10px;
    }
  }

  &--pages-list {
    height: calc(100dvh - 186px);
    scrollbar-width: none;
  }

  &--color-mode-block,
  &--logout-block{
    padding-top: 10px;
    margin: 8px;
    @include flex-center-center;
  }


  &--menu-list {
    &--first-block {
      @include flex-center-between;
      gap: 20px;
      line-height: 20px;
      padding: 4px;
      //transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: #545e6b;
      }
    }
    &--second-block {
      padding: 4px 10px;
    }
  }

  &--menu-icon {
    width: 20px;
    height: 20px;
  }

  &--menu-add-button,
  &--menu-sub-menu-button {
    @include flex-center-center;
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
    border: 1px solid;
    border-radius: 50px;
    background-color: white;
  }

  &--menu-empty-button {
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
  }

  &--menu-title {
    flex: 1;
    @include reduce-text(100%);
  }

  &--open-sub-menu {
    max-height: 200px;
    overflow: auto;
  }

  &--close-sub-menu {
    max-height: 0;
    overflow: hidden;
  }

  &--logout{
    all: unset;
    cursor: pointer;
    border-radius: 50px;
    width: 80px;
    height: 20px;
    font-size: 10px;
    text-align: center;
  }
}

.sidebar--open-menu {
  min-width: 200px;
  transition: 0.3s;
  .menu-panel-layout--menu--open-close-button {
    transform: rotate(-180deg);
  }
}
