@import 'src/assets/styles/mixins';
@import 'src/assets/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mooli", sans-serif;
  user-select: none;
  text-wrap: nowrap;
  &:first-letter {
    text-transform: capitalize;
  }
  @include main-scrollbar();
}

html,
body {
  min-height: 100dvh;
}

input,
textarea {
  text-transform: initial !important;
  text-wrap: initial !important;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input[type='checkbox'] {
  cursor: pointer;
}


