$BASE-DARK-COLOR: #1b1f23;
$BASE-WHITE-COLOR: #ffffff;
$BASE-SLIDER-DARK-COLOR: #2c3844;
$BASE-SLIDER-WHITE-COLOR: #e5e5e5;
$BASE-DARK-COLOR2: #1e1e1e;
$BASE-WHITE-COLOR2: #e9e9e9;
$BASE-ERROR-COLOR: #e53251;
$POSITIVE-COLOR: #51B87A;
$NEGATIVE-COLOR: #C50000;
$NEUTRAL-COLOR: #FFA04A;
$BASE_GRAY_COLOR: #545e6b;


